<template>
  <v-app id="inspire">
    <v-row>
      <v-col cols="12" md="4" sm="12">
         <materialstatscard
          color="primary"
          icon="mdi-origin"
          title="Total Survey"
          :value="total_survey.toString()"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
     
      <v-col cols="12" md="4" sm="12">
        <materialstatscard
          color="success"
          icon="mdi-account-group"
          title="Total User"
          :value="total_user.toString()"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col cols="12" md="12" sm="12">
        <AdminCompany />
      </v-col>
    </v-row>
    
  </v-app>
</template>



<script>
import materialstatscard from "../../components/MaterialStatsCard";
import AdminCompany from "../../components/AdminCompany"
import { mapActions, mapState } from 'vuex';
 
  export default {

    components:{

      materialstatscard,
      AdminCompany

    },

    computed:{

      ...mapState('adminstats',['total_user','total_survey'])

    },

    methods:{

      ...mapActions('adminstats',['getStats']),

    },

    created(){
      
      this.getStats();

    }
   
   
  }
</script>