<template>
    <v-app id="inspire">
        <v-card flat class="mt-2">
            <v-tabs v-model="tab">
                <v-tab>User Profile</v-tab>
                <v-tab>Comapny Profile</v-tab>
            </v-tabs>
              <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <v-card flat>
                        <v-card-title>User Profile</v-card-title>
                        <v-form v-model="valid" ref="form">
                        <v-container>
                            <v-text-field outlined v-model="form.user.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                            <v-text-field outlined :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show1 = !show1" :type="show1 ? 'text' : 'password'" v-model="form.user.password" :rules="requiredRules" :label="$t('password')"></v-text-field>
                            <v-text-field outlined :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show2 = !show2" :type="show2 ? 'text' : 'password'" v-model="form.user.confirm_password" :rules="requiredRules" :label="$t('confirm password')"></v-text-field>
                            <v-text-field outlined v-model="form.user.company_name" :rules="requiredRules" :label="$t('company')"></v-text-field>
                            <v-text-field outlined v-model="form.user.mobile_number" :rules="requiredRules" :label="$t('mobile number')"></v-text-field>
                            <v-textarea outlined v-model="form.user.address" :rules="requiredRules" :label="$t('address')"></v-textarea>
                            <v-text-field outlined v-model="form.user.profile_url" :rules="requiredRules" :label="$t('profile image')"></v-text-field> 
                        </v-container>  
                    </v-form>  
                        <v-card-text></v-card-text>
                         <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn outlined color="success" @click="save()">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-tab-item>
                    <v-tab-item>
                         <v-card flat>
                        <v-card-title>Company Profile</v-card-title>
                        <v-card-text>
                            <v-form v-model="valid" ref="form">
                        <v-container>
                            <v-text-field outlined v-model="form.company.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                            <v-text-field outlined v-model="form.company.phone_number" :rules="requiredRules" :label="$t('mobile number')"></v-text-field>
                            <v-textarea outlined v-model="form.company.address" :rules="requiredRules" :label="$t('address')"></v-textarea>
                            <v-text-field outlined v-model="form.company.logo_path" :rules="requiredRules" :label="$t('profile image')"></v-text-field>
                            <v-text-field outlined v-model="form.company.sector" :rules="requiredRules" :label="$t('sector')"></v-text-field>
                            <v-text-field outlined v-model="form.company.branch" :rules="requiredRules" :label="$t('branch')"></v-text-field>
                            <v-text-field outlined v-model="form.company.position" :rules="requiredRules" :label="$t('position')"></v-text-field>
                        </v-container>  
                    </v-form>  
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn outlined color="success" @click="save()">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-tab-item>
                </v-tabs-items>
           
        </v-card>
    </v-app>
</template>
<script>

export default {
  computed:{
       requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
  },
  data(){
      return {
           tab:null,
            valid:false,
            show1:false,
            show2:false,
          form:{
              user:{
                   id:'',
                    name:'',
                    password:'',
                    confirm_password:'',
                    mobile_number:'',
                    company_name:'',
                    address:'',
                    profile_url:'',
              },
              company:{
                  name:'',
                  address:'',
                  phone_number:'',
                  logo_path:'',
                  sector:'',
                  branch:'',
                  user_id:'',
                  position:'',
              }
          }
      }
  },
  methods:{
      save(){
          axios.post('/api/admin/save_profile',this.form).then(response=>{
               if(response.data.status){
                   Vue.showNotification({content:'Profile Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
          });
      },
      loadData(){
          axios.get('/api/admin/profile').then(response=>{
             this.form.company=response.data.company==null?this.form.company:response.data.company;
              this.form.user=response.data.user;
          });
      }
      
  },
  created(){
      this.loadData();
  }
}
</script>