<template>
    <v-app id="inspire">
        <v-card flat class="mt-2 mb-2">
            <v-card-title>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="surveys"
                :search="search"
                :loading="status"
               
            >
            <template v-slot:item.category="{ item }">
                <div  v-if="item.category.length>0">
                    <v-chip class="ma-1"  v-for="category in item.category" :key="category.id">{{category.name}}</v-chip>
                </div>
            </template> 
            <template v-slot:item.team="{ item }">
                <div  v-if="item.team.length>0">
                    <v-chip class="ma-1"  v-for="team in item.team" :key="team.id">{{team.name}}</v-chip>
                </div>
            </template> 
             <template v-slot:item.action="{ item }">
                    <v-icon small color="blue" class="mr-2"  @click="addTeam(item.id)">
                        mdi-account
                    </v-icon>
                   
                </template>    
            </v-data-table>
           
        </v-card>  
        <v-dialog v-model="dialog" max-width="500">
            <v-card flat>
                <v-card-title>{{$t('Add Team')}}</v-card-title>
                <v-card-text>
                    <v-select multiple v-model="teamSurvey" :items="teams"  item-text="name" item-value="id" return-object :label="$t('Select Team')"></v-select>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="suceess" @click="saveSurvey">{{$t('Save')}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog> 
   </v-app>
</template>

<script>
import {mapState,mapActions} from "vuex";

export default {
     
        computed:{
            ...mapState('adminsurvey', ['surveys','status']),
            
            page:{
                get:function(){
                    //return this.page;
                },
                set:function(val){
                    this.$store.commit('adminsurvey/SET_PAGE',val);
                }
            },

        
            headers(){
                return [
                  {text:this.$t('id'),align:'left',value:'id'},
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('timer'),value:'timer'},
                  {text:this.$t('description'),value:'description'},
                  {text:this.$t('unique_uuid'),value:'unique_uuid'},
                  {text:this.$t('category'),value:'category'},
                  {text:this.$t('team'),value:'team'},
                  {text:this.$t('action'),value:'action',sortable:false},
                ]
            }
          
        },

        data(){
           
            return{
               editMode:false,
               search:'',   
               dialog:false,
               current_id:'',
               teams:[],
              
            }
        },
        methods:{
        
            ...mapActions('adminsurvey',['getSurveys']),
         
            onPageChange(){
                this.loadSurveys();
            },

            async loadSurveys(){
                this.getSurveys();
            },

            addTeam(id){
                this.dialog=true;
                this.current_id=id;
                axios.get('/api/admin/get_team').then(response=>{
                    this.teams=response.data.teams;
                    this.teamSurvey =response.data.teamSurvey;
                });
            },

            saveSurvey(){
                axios.post('/api/admin/save_team_survey/'+this.current_id,this.teamSurvey).then(response=>{
                  console.log(response);
                  if(response.data.success){
                    Vue.showNotification({content:'Saved ',color:'success'});
                    this.dialog=false;
                   }
                   else{
                       Vue.showNotification({content:'Something Went Wrong',color:'red'});
                   }
                }); 
            }

        },
        created() {
          this.loadSurveys();  
        }
    }
</script>
