<template>
    <v-app id="inpire">
        <v-card class="mt-2 mb-2">
            <v-card-title>
                <v-text-field v-model="search" append-icon="mdi-magnify" :label="$t('search')" single-line hide-details></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="teamsCopy" :loading="status"
             hide-default-footer :search="search" >
                <template v-slot:item.user="{ item }">
                    <div  v-if="item.user.length>0">
                        <v-chip color="success" v-for="member in item.user" :key="member.id">{{member.name}}</v-chip>
                    </div>
                 </template>   
                <template v-slot:item.action="{ item }">
                    <v-icon small color="blue" class="mr-2"  @click="editTeam(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small color="red" class="mr-2" @click="deleteTeam(item.id)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            <div class="text-center pt-2">
                <pagination store="adminteam" collection="teams" getMethod="getTeams" />
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={},getUsers()]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
            <v-card>
                <v-card-title>
                <h4 v-show="!editMode">{{$t('new_team')}}</h4>
                <h4 v-show="editMode">{{$t('update_team')}}</h4>
                </v-card-title>
                <v-card-text>
                    <v-form v-model="valid" ref="form">
                        <v-container>
                            <v-text-field outlined v-model="form.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                          
                            <v-select outlined v-model="form.users"  multiple :items="users" item-value="id"  item-text="name" :rules="requiredRules" return-object  :label="$t('select users')">
                              
                            </v-select>
                        </v-container>  
                    </v-form>  
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" v-show="editMode" @click="updateTeam()">{{$t('update_button')}}</v-btn>
                    <v-btn color="primary" v-show="!editMode" @click="createTeam()">{{$t('create_button')}}</v-btn>
                    <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
                </v-card-actions>
            </v-card>  
        </v-dialog> 
    </v-app>
</template>

<script>
    import {mapState,mapActions, mapMutations} from "vuex";
    import pagination from '../../components/pagination';
    import getText  from '../../utils/helper';
    import _ from 'lodash'
    export default {
      
       components:{
           pagination:pagination
       },
       computed:{
            teams(){
                 return _.cloneDeep(this.$store.state.adminteam.teams.data);
            },
            status:{
                get:function(){
                    return  this.$store.state.adminteam.status;
                },
            },
            requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
            headers(){
                return [
                  {text:this.$t('id'),align:'left',value:'id'},
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('user'),value:'user'},
                  {text:this.$t('action'),value:'action',sortable:false}
                ]
            }
        },


        data(){
           
            return{
               editMode:false,
               search:'',
               dialog:false,
               valid:false,
               users:[],
               show1:false,
               show2:false,
              teamsCopy:_.cloneDeep(this.$store.state.adminteam.teams.data),
               
                form : {
                    id:'',
                    name,
                    users:[]
                   
                },
               
            }
        },
        methods:{
            ...mapActions('adminteam',['getTeams','addTeam','modifyTeam','destroyTeam']),
            async loadTeams(){
                this.getTeams();
            },
         
            editTeam(team){
                this.getUsers();
                this.form.name=team.name;
                this.form.users=team.user;
                this.editMode=true;
                this.dialog=true;
                
            },
            async getUsers(){
                await axios.get('/api/admin/all_users').then((response)=>{
                    this.users=response.data.users;
                })
            },
            async createTeam(){
                await this.addTeam(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'Team Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('team/SET_STATUS',false);
                
            },
            async updateTeam() {         
               await this.modifyTeam(this.form);
               this.dialog=false;
               if(this.status){
                   Vue.showNotification({content:'Team Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
               this.$store.commit('user/SET_STATUS',false);
            },
            async deleteTeam(id){
                await this.destroyTeam(id);
                if(this.status){
                   Vue.showNotification({content:'Team Deleted Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
                this.$store.commit('team/SET_STATUS',false);
            }
        },
        watch:{
            teams(newValue){
                this.teamsCopy=newValue;
            }
        },
        created() {
          
            this.loadTeams();
           
        }
    }
</script>
