<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      dark
      :right="$vuetify.rtl"
      id="core-navigation-drawer"
      mobilebBreakpoint="960"
      :mini-variant.sync="mini"
      width="260"
      v-bind="$attrs"
      style='background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/sidebar-1.jpg"); background-position: center center;'
    >
    <v-list-item>
        <v-list-item-icon>
            <v-icon class="pink">SB</v-icon>
          </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="title">
           {{$t('app_name')}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider dark   class="mx-2" ></v-divider>
     
        <v-list-item two-line>
          <v-list-item-avatar>
            <img :src="user.profile_url">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{user.name}}</v-list-item-title>
            <v-list-item-subtitle>{{$t('logged in')}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
     
      <v-divider   class="mx-2" dark ></v-divider>
      <SuperNav v-if="role=='super admin'" @logout="logout"/>
      <AdminNav v-if="role=='admin'" @logout="logout" />
         
    </v-navigation-drawer>
    <v-app-bar
      app
      flat
      light
      absolute
    >
       <v-btn icon @click.stop="changeNavigation">
         <v-app-bar-nav-icon v-show="mini"></v-app-bar-nav-icon>
        <v-icon v-show="!mini">mdi-dots-vertical</v-icon>
      </v-btn>
      <v-toolbar-title>{{$t(currentTitle)}}</v-toolbar-title>
      <v-spacer></v-spacer>
     

      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-btn icon  @click.prevent="logout()">
        <v-icon>mdi-power</v-icon>
      </v-btn>
     <Locale />

    </v-app-bar>

    <v-main>
      <v-container
        class="fill-height grey lighten-4"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="text-center grey lighten-4">
             <Snackbar></Snackbar>
            
            <div >
                <router-view class="grey lighten-4" ></router-view>
                
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
   
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import Snackbar from './components/Notifier';
import Locale from  './components/locale';
import SuperNav from './views/Nav/super';
import AdminNav from './views/Nav/admin';


export default {
  components : {
    Snackbar,
    Locale,
    SuperNav,
    AdminNav,
  

  },
   
    data: () => ({
      left: false,
      isDark:true,
     
     
    }),
    computed: {
        ...mapState('navigationdrawer',[ 'drawer', 'mini']),
        ...mapState('login',['user','isLoggedIn','permissions','roles']),
        drawer:{set(drawer){},get(){}},
       
        currentTitle(){
          return this.$route.name;//toUpperCase().trim().replace(/_/g, " ");
        },
        role(){
          return localStorage.getItem('userRole');
        }
        
    },
    methods: {
       
        changeNavigation(){
          if(this.$vuetify.breakpoint.mdAndDown){
            this.$store.commit('navigationdrawer/SET_MINI',false);
            this.$store.commit('navigationdrawer/SET_DRAWER',true)
          }
          else{
            this.$store.commit('navigationdrawer/SET_MINI', !this.mini);
          }

        },
        async logout() {
            try {
                axios.post("/logout");
                this.$store.dispatch("login/logout");
                
                window.location.href="/";
            } catch (error) {
                this.$store.dispatch("login/logout");
                
            }
        }
    },
    async created(){
      const { data: permissions } = await axios.get('/api/permissions');
      const { data: roles } = await axios.get('/api/roles');
      this.$laravel.setPermissions(permissions);
      this.$laravel.setRoles(roles);
      
    }

}
 
</script>
<style lang="sass" scoped>
  @import '~vuetify/src/styles/tools/_rtl.sass'
  #core-navigation-drawer
    .v-list-item--active
      
    .v-list-item--active:before
      opacity: .24
    .v-list-item
      text-decoration: none
      justify-content: center
      margin-bottom:8px
      border-radius:4px
      
      +ltr()
        margin-right: 24px
        margin-left: 12px !important
      +rtl()
        margin-left: 24px
        margin-right: 12px !important
    
   
</style>
 
  


