<template>
    <v-app id="inspire">
        <div>
            <v-app-bar app flat dark  absolute color="transparent">
                <v-toolbar-title class="white--text">{{$tc('app_name')}}</v-toolbar-title>
                <div class="flex-grow-1"></div>
                <v-btn class=" ma-2 white--text" dark color="transparent" href="/home">
                    <v-icon> mdi mdi-view-dashboard</v-icon>{{$tc('dashboard')}}
                </v-btn>
                <v-btn class="ma-2 white--text" dark color="transparent" href="/auth/register">
                    <v-icon>mdi mdi-account-multiple-plus</v-icon>{{$tc('register')}}
                </v-btn>
                <v-btn class="ma-2 white--text" dark color="transparent" href="/auth/login">
                    <v-icon>mdi mdi-fingerprint</v-icon>{{$tc('login')}}
                </v-btn>
                <Locale />
            </v-app-bar>  
            <v-img  style="background-image:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));" src="/images/pricing.jpg" min-height="100%" position="center center" >
                <v-main>
                    <v-container fluid >
                        <div>
                            <router-view  style="background-color:rgba(0, 0, 0, 0);"></router-view>
                        </div>
                    </v-container>  
                </v-main>
            </v-img>
        </div>
    </v-app>
</template>

<script>
 import Locale from './components/locale'
  export default {
   components :{
       Locale
   },   
   data(){
       return {
           
       }
   }
  
  }
</script>
