<template>
    <v-app id="inspire">
        <DeleteConfirmation ref="confirm"></DeleteConfirmation>
        <v-card flat class="mt-2 mb-2">
            <v-card-title>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
               <v-data-table
                :headers="headers"
                :items="companiesCopy"
                :search="search"
                hide-default-footer
                :loading="status"
            >
            <template v-slot:item.survey="{ item }">
                <v-chip v-for="(survey,index) in item.survey" :key="index">
                    {{survey.name}}
                </v-chip>
            </template>
              
                <template v-slot:item.action="{ item }">
                    <v-icon
                        small
                        color="blue"
                        class="mr-2"
                        @click="editCompany(item)"
                    >
                        mdi-pencil
                    </v-icon>
                     <v-icon
                        small
                        color="red"
                        class="mr-2"
                        @click="deleteCompany(item.id)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            <div class="text-center pt-2">
                <pagination store="company" collection="companies" getMethod="getCompanies" />
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={}]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
          <v-card>
            <v-card-title>
              <h4 v-show="!editMode">{{$t('new_company')}}</h4>
              <h4 v-show="editMode">{{$t('update_company')}}</h4>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid" ref="form">
                <v-container>
                    <v-text-field :readonly="editMode" outlined v-model="form.name" label="name"></v-text-field>
                    <v-textarea outlined v-model="form.address" label="address"></v-textarea>
                    <v-text-field outlined v-model="form.phone_number" label="phone_number"></v-text-field>
                    <v-text-field outlined  v-model="form.sector" label="sector"></v-text-field>
                    <v-text-field outlined v-model="form.branch" label="branch"></v-text-field>
                    <v-select label="Survey" return-object outlined :items="all_surveys" item-text="name" multiple v-model="form.survey">
                       
                    </v-select>
                    <v-subheader>Add Counter to Survey</v-subheader>
                    <v-text-field outlined :label="survey.name" v-for="(survey,index) in form.survey" :key="index" @input="addCounterToSurvey(index)"></v-text-field>
                    <Upload accept="image/*"  form_id="company" :multiple="multiple" @getPath="getPath($event)" label="Company Logo" />     
                </v-container>  
              </v-form>  
            </v-card-text>
            <v-card-actions>
               <v-spacer></v-spacer>
              <v-btn color="primary" v-show="editMode" @click="updateCompany()">{{$t('update_button')}}</v-btn>
              <v-btn color="primary" v-show="!editMode" @click="createCompany()">{{$t('create_button')}}</v-btn>
              <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
            </v-card-actions>
          </v-card>  
        </v-dialog>    
    </v-app>    
</template>
<script>
import {mapState,mapActions} from "vuex";
import DeleteConfirmation from '../components/DeleteConfirmation';
import Upload from '../components/Upload';
import pagination from '../components/pagination';
export default {
   components:{
           DeleteConfirmation,
           Upload,
           pagination
       },
       computed:{
            companies(){
                 return _.cloneDeep(this.$store.state.company.companies.data);
            },
            status:{
                get:function(){
                    return  this.$store.state.company.status;
                },
            },
          
            requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
            headers(){
                return [
                  {text:this.$t('ID'),align:'left',value:'id'},
                  {text:this.$t('Name'),value:'name'},
                  {text:this.$t('Phone Number'),value:'phone_number'},
                  {text:this.$t('Address'),value:'address'},
                  {text:this.$t('Sector'),value:'sector'},
                  {text:this.$t('Survey'),value:'survey'},
                  {text:this.$t('Action'),value:'action',sortable:false}
                ]
            }
          
        },


        data(){
           
            return{
               editMode:false,
               search:'',
               multiple:false,
               all_surveys:[],
               dialog:false,
               valid:false,
              companiesCopy:_.cloneDeep(this.$store.state.company.companies.data),
                form : {
                    id:'',
                    name: '',
                    logo_path:'',
                    branch:'',
                    sector:'',
                    address:'',
                    phone_number:'',
                    survey:[]
                },
               
            }
        },
        methods:{
        
            ...mapActions('company',['getCompanies','addCompany','modifyCompany','destroyCompany']),
         
          
            async loadCompanies(){
                this.getCompanies();
            },

            async getAllSurvey(){
                await axios.get('/api/all_survey').then(response=>{
                    this.all_surveys = response.data.survey;
                });
            },
            addCounterToSurvey(index){
                this.form.survey[index]['count']=event.target.value;
            },
            getPath(file_path){
               // console.log(file_path[0]);
               this.form.logo_path=file_path[0];
               
            },
            editCompany(company){
                this.form=company;
                this.editMode=true;
                this.dialog=true;
            },
        
            async createCompany(){
                await this.addCompany(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'Company Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('company/SET_STATUS',false);
                
            },
            async updateCompany() {         
               await this.modifyCompany(this.form);
               this.dialog=false;
               if(this.status){
                   Vue.showNotification({content:'Company Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
               this.$store.commit('company/SET_STATUS',false);
            },
            async deleteCompany(id){
                if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
                    await this.destroyCompany(id);
                    if(this.status){
                        Vue.showNotification({content:'Company Deleted Successfully',color:'success'});
                    }else{
                        Vue.showNotification({content:'Something Went Wrong',color:'error'});
                    }
                
                }
                else {
                        // cancel
                }
                this.$store.commit('company/SET_STATUS',false);
            }
        },
        created() {
          
            this.loadCompanies();
            this.getAllSurvey();
           
        },
        watch:{
            companies(newValue){
                this.companiesCopy=newValue;
            }
        }
    }
</script>