<template>
  <v-app id="inspire">
    <v-row>
      <v-col cols="12" md="4" sm="12">
         <materialstatscard
          color="primary"
          icon="mdi-origin"
          title="Total Survey"
          :value="total_survey.toString()"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col cols="12" md="4" sm="12">
        <materialstatscard
          color="pink"
          icon="mdi-domain"
          title="Total Companies"
          :value="total_company.toString()"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col cols="12" md="4" sm="12">
        <materialstatscard
          color="success"
          icon="mdi-account-group"
          title="Total User"
          :value="total_user.toString()"
          sub-icon="mdi-clock"
          sub-text="Just Updated"
        />
      </v-col>
      <v-col cols="12" md="12" sm="12">
        <SurveyStats />
      </v-col>
    </v-row>
    
  </v-app>
</template>



<script>
 import materialstatscard from "../components/MaterialStatsCard";
import { mapActions, mapState } from 'vuex';
import SurveyStats from "../components/SurveyStats";
 
  export default {

    components:{

      materialstatscard,
      SurveyStats

    },

    computed:{

      ...mapState('stats',['total_user','total_company','total_survey'])

    },

    methods:{

      ...mapActions('stats',['getStats']),

    },

    created(){
      
      this.getStats();

    }
   
   
  }
</script>