<template>
    <v-app id="inpire">
        <v-card class="mt-2 mb-2">
            <v-card-title>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    :label="$t('search')"
                    single-line
                    hide-details
                ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="permissions"
                :search="search"
                :page.sync="page"
                hide-default-footer
                 :loading="status"
                :items-per-page="itemsPerPage"
            >

                
                <template v-slot:item.action="{ item }">
                   
                     <v-icon
                        small
                        color="red"
                        class="mr-2"
                        @click="deletePermission(item.id)"
                    >
                        mdi-delete
                    </v-icon>
                </template>

            </v-data-table>
            <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"    @input="onPageChange"></v-pagination>
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={}]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
          <v-card>
            <v-card-title>
              <h4 v-show="!editMode">{{$t('new_permission_title')}}</h4>
              <h4 v-show="editMode">{{$t('update_permission_title')}}</h4>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid" ref="form">
                <v-container>
                  <v-text-field outlined v-model="form.name" :rules="requiredRules" :label="$t('name')"></v-text-field> 
                </v-container>  
              </v-form>  
            </v-card-text>
            <v-card-actions>
               <v-spacer></v-spacer>
              <v-btn color="primary" v-show="editMode" @click="updatePermission()">{{$t('update_button')}}</v-btn>
              <v-btn color="primary" v-show="!editMode" @click="createPermission()">{{$t('create_button')}}</v-btn>
              <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
            </v-card-actions>
          </v-card>  
        </v-dialog> 
   </v-app>
</template>

<script>
    import {mapState,mapActions} from "vuex";
  
    export default {
      
       computed : {
            ...mapState('permission', ['permissions', 'page', 'itemsPerPage', 'pageCount','status']),
          page:{
              get:function(){},
              set:function(val){
                   this.$store.commit('permission/SET_PAGE',val);
              }
          },
          requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
          headers(){
              return [
                  {text:this.$t('id'),align:'left',value:'id'},
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('action'),value:'action',sortable:false}
              ]
          }
        },


        data(){
           
            return{
               editMode:false,
               search:'',
               dialog:false,
               valid:false,
             
                form : {
                    id:'',
                    name: '',
                },
               
            }
        },
        methods:{
            ...mapActions('permission',['getPermissions','addPermission','modifyPermission','destroyPermission']),
           
            onPageChange(pageNumber){
               this.loadPermissions();
            },
            loadPermissions(){
                this.getPermissions();
            },
         
            editPermission(permission){
                this.form.name=permission.name;
                this.form.id=permission.id;
                this.editMode=true;
                this.dialog=true;
            },
            
            async createPermission(){
                await this.addPermission(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'Permission Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('permission/SET_STATUS',false);
                
            },
           
            async deletePermission(id){
             
                   Vue.showNotification({content:'You cannot Delte it ',color:'error'});
                
                this.$store.commit('permission/SET_STATUS',false);
            }
        },
        created() {
           
           this.loadPermissions();
           
        },
       
    }
</script>
