<template>
    <v-app id="inspire">
        <v-card>
            <v-toolbar flat color="primary" dark>
                <v-toolbar-title>
                    Result
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-select outlined  class="ma-1" :items="surveys"  label="Select Survey" return-object item-text="name"></v-select>
                </v-toolbar-items>
            </v-toolbar>
            <v-tabs vertical>
                <v-tab><v-icon left>mdi-view-list</v-icon>List<v-spacer></v-spacer></v-tab>
                <v-tab><v-icon left>mdi-chart-pie</v-icon>Graphical <v-spacer></v-spacer></v-tab>
                <v-tab><v-icon left>mdi-chart-bar</v-icon>Tabular<v-spacer></v-spacer></v-tab>
                <v-tab-item>
                    <List />
                </v-tab-item>
                <v-tab-item>
                    <Graphical />
                </v-tab-item>
                <v-tab-item>
                    <Tabular />
                </v-tab-item>
            </v-tabs>
        </v-card>
    </v-app> 
</template>
<script>
import List from '../views/Report/List';
import Graphical from '../views/Report/Graphical';
import Tabular from '../views/Report/Tabular';
import { mapState, mapActions } from 'vuex';
export default {
    components:{
        List,
        Graphical,
        Tabular
    },
    computed:{
        ...mapState('survey',['surveys'])
    },
    data(){
        return {
            tab:''
        }
    },
    methods:{
        ...mapActions('survey',['getSurveys']),
    },
    
    created(){
        this.getSurveys();
    }
}
</script>