<template>
    <v-app id="inpire">
        <DeleteConfirmation ref="confirm"></DeleteConfirmation>
        <v-card class="mt-2 mb-2">
            <v-card-title>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="roles"
                :search="search"
                :page.sync="page"
                hide-default-footer
                :loading="status"
                :items-per-page="itemsPerPage"
            >
                <template v-slot:item.permissions="{ item }">
                    <div  v-if="item.permissions.length>0">
                        <v-chip class="ma-1" color="success" v-for="permission in item.permissions" :key="permission.id">{{permission.name}}</v-chip>
                    </div>
                </template>   
                
                <template v-slot:item.action="{ item }">
                    <v-icon
                        small
                        color="blue"
                        class="mr-2"
                        @click="editRole(item)"
                    >
                        mdi-pencil
                    </v-icon>
                     <v-icon
                        small
                        color="red"
                        class="mr-2"
                        @click="deleteRole(item.id)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"   @input="onPageChange()"></v-pagination>
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={},getPermissions()]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
          <v-card>
            <v-card-title>
              <h4 v-show="!editMode">{{$t('new_role')}}</h4>
              <h4 v-show="editMode">{{$t('update_role')}}</h4>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid" ref="form">
                <v-container>
                  <v-text-field outlined v-model="form.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                  <v-select outlined v-model="form.permissions"  multiple :items="permissions" item-text="name" item-value="id" :rules="requiredRules"  return-object :label="$t('select permission')"></v-select>
                 
                </v-container>  
              </v-form>  
            </v-card-text>
            <v-card-actions>
               <v-spacer></v-spacer>
              <v-btn color="primary" v-show="editMode" @click="updateRole()">{{$t('update_button')}}</v-btn>
              <v-btn color="primary" v-show="!editMode" @click="createRole()">{{$t('create_button')}}</v-btn>
              <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
            </v-card-actions>
          </v-card>  
        </v-dialog> 
   </v-app>
</template>

<script>
import {mapState,mapActions} from "vuex";
import SelectItem from '../components/SelectItem';
import DeleteConfirmation from '../components/DeleteConfirmation';
export default {
       components:{
           SelectItem,
           DeleteConfirmation
       },
       computed:{
            ...mapState('role', ['roles', 'page', 'itemsPerPage', 'pageCount','status']),
            page:{
                get:function(){
                    //return this.page;
                },
                set:function(val){
                    this.$store.commit('role/SET_PAGE',val);
                }
            },
            requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
            headers(){
                return [
                  {text:this.$t('id'),align:'left',value:'id'},
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('permission'),value:'permissions'},
                  {text:this.$t('action'),value:'action',sortable:false}
                ]
            }
          
        },


        data(){
           
            return{
               editMode:false,
               permissions:[],
               search:'',
               multiple:false,
               dialog:false,
               valid:false,
               myData:'',
              
                form : {
                    id:'',
                    name: '',
                    permissions:[]
                },
               
            }
        },
        methods:{
        
            ...mapActions('role',['getRoles','addRole','modifyRole','destroyRole']),
         
            onPageChange(){
                this.loadRoles();
            },
            async loadRoles(){
                this.getRoles();
            },
         
            editRole(role){
                this.getPermissions();
                this.form.name=role.name;
                this.form.id=role.id;
                this.form.permissions=role.permissions;
                this.editMode=true;
                this.dialog=true;
            },
            async getPermissions(){
                axios.get('/api/all_permissions').then((response)=>{
                    this.permissions=response.data.permissions;
                })
            },
            async createRole(){
                await this.addRole(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'Role Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('role/SET_STATUS',false);
                
            },
            async updateRole() {         
               await this.modifyRole(this.form);
               this.dialog=false;
               if(this.status){
                   Vue.showNotification({content:'Role Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
               this.$store.commit('role/SET_STATUS',false);
            },
            async deleteRole(id){
                if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
                    await this.destroyRole(id);
                    if(this.status){
                        Vue.showNotification({content:'Role Deleted Successfully',color:'success'});
                    }else{
                        Vue.showNotification({content:'Something Went Wrong',color:'error'});
                    }
                
                }
                else {
                        // cancel
                }
              
               
                this.$store.commit('role/SET_STATUS',false);
            }
        },
        created() {
          
            this.loadRoles();
           
        }
    }
</script>
