<template>
    <div>
        <v-tabs v-model="tab" grow>
            <v-tab>List</v-tab>
            <v-tab>Create</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
            <v-tab-item>
                <List />
            </v-tab-item>
            <v-tab-item>
                <Create />
            </v-tab-item>
        </v-tabs-items>
    </div>
</template>
<script>
import Create from '../views/survey/Create';
import List   from  '../views/survey/List';
export default {
    components:{
        Create,
        List,
    },
    data(){
        return {
            tab:'',
        }
    }
}
</script>