<template>
    <v-app id="inpire">
         <DeleteConfirmation ref="confirm"></DeleteConfirmation>
        <v-card class="mt-2 mb-2">
            <v-card-title>
                <v-text-field v-model="search" append-icon="mdi-magnify" :label="$t('search')" single-line hide-details></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="usersCopy" :loading="status"
             hide-default-footer :search="search" >
                <template v-slot:item.roles="{ item }">
                    <div  v-if="item.roles.length>0">
                        <v-chip color="success" v-for="role in item.roles" :key="role.id">{{$t(role.name)}}</v-chip>
                    </div>
                 </template>   
                <template v-slot:item.action="{ item }">
                    <v-icon small color="blue" class="mr-2"  @click="editUser(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small color="red" class="mr-2" @click="deleteUser(item.id)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
            <div class="text-center pt-2">
                <pagination store="user" collection="users" getMethod="getUsers" />
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={},getRoles(),getAllCompanies()]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
            <v-card>
                <v-card-title>
                <h4 v-show="!editMode">{{$t('new_user')}}</h4>
                <h4 v-show="editMode">{{$t('update_user')}}</h4>
                </v-card-title>
                <v-card-text>
                    <v-form v-model="valid" ref="form">
                        <v-container>
                            <v-text-field outlined v-model="form.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                            <v-text-field outlined v-model="form.email" :rules="requiredRules" :label="$t('email')"></v-text-field>
                            <v-text-field outlined :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"@click:append="show1 = !show1"  :type="show1 ? 'text' : 'password'" v-model="form.password" :rules="requiredRules" :label="$t('password')"></v-text-field>
                            <v-text-field outlined :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show2 = !show2" :type="show2 ? 'text' : 'password'" v-model="form.confirm_password" :rules="requiredRules" :label="$t('confirm password')"></v-text-field>
                            <v-select :disabled="editMode" outlined :items="all_companies" v-model="form.company_name" :rules="requiredRules" :label="$t('company')"></v-select>
                            <v-text-field outlined v-model="form.mobile_number" :rules="requiredRules" :label="$t('mobile number')"></v-text-field>
                            <v-textarea outlined v-model="form.address" :rules="requiredRules" :label="$t('address')"></v-textarea>
                            <Upload accept="image/*" @getPath="getPath($event)" form_id="profile" :multiple="multiple" label="Profile Image" /> 
                            <v-select :disabled="editMode" outlined v-model="form.roles" item-text="name"  multiple :items="roles" item-value="id"   :rules="requiredRules" return-object  :label="$t('select roles')">
                               
                            </v-select>
                        </v-container>  
                    </v-form>  
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" v-show="editMode" @click="updateUser()">{{$t('update_button')}}</v-btn>
                    <v-btn color="primary" v-show="!editMode" @click="createUser()">{{$t('create_button')}}</v-btn>
                    <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
                </v-card-actions>
            </v-card>  
        </v-dialog> 
      
    </v-app>
</template>

<script>
    import {mapState,mapActions, mapMutations} from "vuex";
    import pagination from '../components/pagination';
    import Upload from '../components/Upload';
    import DeleteConfirmation from '../components/DeleteConfirmation';
    import getText  from '../utils/helper';
    import _ from 'lodash'
    export default {
      
       components:{
           pagination:pagination,
             DeleteConfirmation,
             Upload
       },
       computed:{
            users(){
                 return _.cloneDeep(this.$store.state.user.users.data);
            },
            status:{
                get:function(){
                    return  this.$store.state.user.status;
                },
            },
            requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
            headers(){
                return [
                  {text:this.$t('id'),align:'left',value:'id'},
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('email'),value:'email'},
                  {text:this.$t('company_name'),value:'company_name'},
                  {text:this.$t('mobile'),value:'mobile_number'},
                  {text:this.$t('role'),value:'roles'},
                  {text:this.$t('action'),value:'action',sortable:false}
                ]
            }
        },


        data(){
           
            return{
               editMode:false,
               search:'',
               multiple:false,
               dialog:false,
               survey_dialog:false,
               valid:false,
               roles:[],
               show1:false,
               show2:false,
               current_id:'',
               usersCopy:_.cloneDeep(this.$store.state.user.users.data),
               all_companies:[],
                form : {
                    id:'',
                    name,
                    email:'',
                    password:'',
                    confirm_password:'',
                    mobile_number:'',
                    company_name:'',
                    address:'',
                    profile_url:'',
                    roles:[]
                   
                },
               
            }
        },
        methods:{
            ...mapActions('user',['getUsers','addUser','modifyUser','destroyUser']),
            async loadUsers(){
                this.getUsers();
            },

            async getAllCompanies(){
                await axios.get('/api/all_companies').then(response=>{
                   
                    this.all_companies = response.data.companies;
                });
            },
         
            editUser(user){
                this.getRoles();
                this.form=user;
                this.editMode=true;
                this.dialog=true;
                
            },
           
            async getRoles(){
                await axios.get('/api/all_roles').then((response)=>{
                    this.roles=response.data.roles;
                })
            },
            getPath(file_path){
                this.form.profile_url=file_path[0];
               
            },
            async createUser(){
                await this.addUser(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'User Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('user/SET_STATUS',false);
                
            },
            async updateUser() {         
               await this.modifyUser(this.form);
               this.dialog=false;
               if(this.status){
                   Vue.showNotification({content:'User Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
               this.$store.commit('user/SET_STATUS',false);
            },
            async deleteUser(id){
                if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
                    await this.destroyUser(id);
                    if(this.status){
                        Vue.showNotification({content:'User Deleted Successfully',color:'success'});
                    }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
                
                }
                else {
                        // cancel
                }
                //await this.destroyUser(id);
                this.$store.commit('user/SET_STATUS',false);
              
            }
        },
        watch:{
            users(newValue){
                this.usersCopy=newValue;
            }
        },
        created() {
          
            this.loadUsers();
           
        }
    }
</script>
