<template>
    <v-app id="inspire">
        <v-data-table
            :headers="headers"
            :items="surveys"  
        >
        <template v-slot:item.count="{ item }">
            {{item.pivot.count}}
        </template>
       
        </v-data-table>
    </v-app>    
</template>
<script>
export default {
    computed:{
            headers()
            {
                return [
                  {text:this.$t('name'),value:'name'},
                  {text:this.$t('Total'),value:'count'},
                  {text:this.$t('Left'),value:'count'},
                 
                ]
            }
    },
    data(){
        return{
            surveys:[]
        }
    },
    methods:{
        async loadSurvey(){
            await axios.get('/api/admin_get_survey').then(response=>{
               
                this.surveys=response.data.surveys;
            });
        }
    },
    created(){
        this.loadSurvey();
    }
}
</script>