<template>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon
          v-on="on"
          color="green"
        >
         {{$t(currentLang)}}
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in supportedLanguages"
          :key="index"
          @click="changeLocale(item)"
        >
          <v-list-item-title>{{ $t(item) }}</v-list-item-title>
        </v-list-item>
      </v-list>
     
    </v-menu>
     
</template>
<script>
export default {
     computed :{
        currentLang(){
          return this.$i18n.locale;
        },
     },
  
    methods :{
         changeLocale(item){
          if(item==='AR'){
            this.$store.commit('SET_APP_DIR',true);
          }
          if(item==='EN'){
            this.$store.commit('SET_APP_DIR',false);
          }
           this.$store.commit('SET_APP_LOCALE',item.toLowerCase().trim());
        },
    }
}
</script>