<template>
    <v-pagination v-model="currentPage" :length="lastPage" total-visible="8">
    </v-pagination>    
</template>
<script>
export default {
    props:['store','collection','getMethod'],
    computed:{
        currentPage:{
            get(){
                return this.$store.state[this.store][this.collection].current_page;
            },
            set(val){
                this.$store.commit([this.store]+'/SET_PAGE',val);
            }
        },
        lastPage :{
            get(){
               return this.$store.state[this.store][this.collection].last_page;
            },
           
        }
    },
    watch:{
        currentPage(newVal){
            this.pagePaginate(newVal);
        }
    },
    methods:{
        pagePaginate(pageNumber){
            this.$store.dispatch(this.store + '/'+this.getMethod,pageNumber);
        }
    }
    
}
</script>