<template>
    <v-app id="inspire">
        <v-card flat class="ma-1">
            <v-card-title>
                {{category}}
                <v-spacer></v-spacer>
                <v-btn v-role:unless="'admin'" icon text @click="deleteQuestion()"><v-icon color="red">mdi-delete</v-icon></v-btn>
            </v-card-title>
            <v-row>
                <v-textarea :rules="requiredRules" class="ml-1 mr-1 pa-1" outlined label="Question" v-model="questionData.question"></v-textarea>
                <v-text-field :rules="requiredRules" class="ml-1 mr-1 pa-1" outlined label="Question Weightage" v-model="questionData.weightage"></v-text-field>
            </v-row>
            <v-row  v-for="(option,index) in questionData.options" :key="index">
                <v-text-field :rules="requiredRules" class="ml-2 mr-2 pa-1" outlined :label="`Option ${index}`" v-model="option.option"></v-text-field>
               
             </v-row>
        </v-card> 
    </v-app>    
</template>
<script>
export default {
    props:{
        //languages:Object,
        questionData:Object,
        category:'', 
    },
    computed:{
        requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },
    },
   
    methods:{
        deleteQuestion(){
             this.$emit('delQuestion');
            
        }
    }
    
}
</script>