<template>
<v-select  v-model="selectedItem" :items="items" :multiple="multiple"  :item-text="textP"   return-object @input="ChangeMe" outlined :label="label">
    <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
         <pagination :store="store" :collection="collection" :getMethod="getMethod" />
      </template>
</v-select>
    
</template>
<script>
import pagination from '../components/pagination';
import {mapActions} from "vuex";

export default {
    components:{
        pagination
    },
    props:{
        store:String,
        collection:String,
        getMethod:String,
        textP:String,
        valueP:String,
        label:String,
        multiple:Boolean,
        selectedItem:'',
        
    },
    computed:{
        items(){
            
            return this.$store.state[this.store][this.collection].data;
        }
    },
    data(){
        return {
          
        }
    },
    methods:{
       
        loadData(){
            this.$store.dispatch(this.store + '/'+this.getMethod)
        },
        ChangeMe(){
            this.selectedItem=selectedItem;
        }
    },
    created(){
        this.loadData();
    }

    
}
</script>