<template>
    <v-app id="inspire">
        <v-data-table
            :headers="headers"
            :items="companies"  
        >
        <template v-slot:item.survey="{ item }">
            <v-list-item v-for="(survey,index) in item.survey" :key="index">
                <v-list-item-content>
                    <v-list-item-title>{{survey.name}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item> 
        </template>
        <template v-slot:item.total="{ item }">
            <v-list-item v-for="(survey,index) in item.survey" :key="index">
                <v-list-item-content>
                    <v-list-item-title>{{survey.pivot.count}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
        <template v-slot:item.left="{ item }">
            <v-list-item v-for="(survey,index) in item.survey" :key="index">
                <v-list-item-content>
                    <v-list-item-title>{{survey.pivot.count}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
       
        </v-data-table>
    </v-app>    
</template>
<script>
export default {
    computed:{
            headers()
            {
                return [
                  {text:this.$t('Company Name'),value:'name'},
                  {text:this.$t('Survey'),value:'survey'},
                  {text:this.$t('Total'),value:'total'},
                  {text:this.$t('Left'),value:'left'},
                 
                 
                ]
            }
    },
    data(){
        return{
            companies:[]
        }
    },
    methods:{
        async loadCompany(){
            await axios.get('/api/get_survey_stats').then(response=>{
               
                this.companies=response.data.companies;
            });
        }
    },
    created(){
        this.loadCompany();
    }
}
</script>