<template>
    <v-row no-gutters>
        <v-col cols="12" md='8' sm="8">
            <v-file-input show-size counter color="green" :loading="show" outlined :multiple="multiple" v-model="files" :accept="accept" :label="label"></v-file-input>
        </v-col>
        <v-col cols="12" md="4" sm="4">  
            <v-btn @click="uploadFiles" icon><v-icon color="pink">mdi-cloud-upload</v-icon></v-btn>  
        </v-col>
    </v-row>
</template>
<script>
import UploadFileService from '../services/upload'
export default {
    props:{
        accept:String,
        multiple:Boolean,
        form_id:String,
      
        label:String
    },
    data(){
        return {
            files:[],
            show:false,
            formData : new FormData(),
        }
    },
    methods:{
        uploadFiles(){
            this.show=true;
            this.formData.append('form_id',this.form_id);
            this.files.forEach(file => {
                this.formData.append('files',file)
            });
           
           UploadFileService.upload(this.formData).then(response=>{
               this.$emit('getPath',response.path);
               // Array.prototype.push.apply(this.path, response.path);
           });
           this.show=false;
        }
    }
}
</script>