<template>   
    <v-list >
        <v-list-item v-for="(item,index) in listItem" :key="index" link  :to="item.path" :active-class="`success ${!isDark ? 'black' : 'white'}--text`">
          <v-list-item-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{item.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item  link  @click.prevent="logout()" :active-class="`success ${!isDark ? 'black' : 'white'}--text`">
          <v-list-item-action>
            <v-icon>mdi-power</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{$t('logout')}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item> 
    </v-list>
</template>
<script>
export default {
    computed:{
        listItem(){
            return [
                {title:this.$t('home'),icon:'mdi-home',path:'/home'},
                {title:this.$t('survey'),icon:'mdi-origin',path:'/survey'},
                {title:this.$t('company'),icon:'mdi-account',path:'/company'},
                {title:this.$t('user'),icon:'mdi-account',path:'/app/user'},
                {title:this.$t('role'),icon:'mdi-account-supervisor-circle',path:'/role'},
                {title:this.$t('permission'),icon:'mdi-shield',path:'/permission'},
                {title:this.$t('report'),icon:'mdi-chart-pie',path:'/report'},
                {title:this.$t('history'),icon:'mdi-alpha-h-circle',path:'/history'}, 
            ];
        }
    },
    data(){
        return {
            isDark:true,
        }
    },
    methods:{
        logout(){
            this.$emit('logout');
        }
    }
   
}
</script>
<style lang="sass" scoped>
  @import '~vuetify/src/styles/tools/_rtl.sass'
  #core-navigation-drawer
    .v-list-item--active
      
    .v-list-item--active:before
      opacity: .24
    .v-list-item
      text-decoration: none
      justify-content: center
      margin-bottom:8px
      border-radius:4px
      
      +ltr()
        margin-right: 24px
        margin-left: 12px !important
      +rtl()
        margin-left: 24px
        margin-right: 12px !important
    
   
</style>
 
    