<template>
    <v-app id="inspire">
        <DeleteConfirmation ref="confirm"></DeleteConfirmation>
        <v-card flat height="800">
            <v-card-title>
                <v-select  :rules="requiredRules" class="ma-1" outlined v-model="formData.survey" :items="surveys" item-text="name"  item-value="id" return-object :label="$t('select survey')" @change="getQuestion"></v-select>
            </v-card-title>
            <v-card-subtitle>
                <v-row no-gutters>Categories</v-row>
                <v-row no-gutters>
                    <v-chip class="ma-2" color="indigo" outlined v-for="(category,index) in categories" :key="index" @click="addQuestion(category)">
                       
                        <v-avatar left class="indigo darken-4 white--text">
                            {{getCount(category.id)}}
                            
                        </v-avatar>

                        {{category.name}}
                        <v-avatar right class="indigo darken-4 white--text">
                            {{getWeight(category.id)}}
                            
                        </v-avatar>
                    </v-chip>
                </v-row>
                <v-row no-gutters>Questions<v-spacer></v-spacer>Total Question
                <v-chip small class=" ml-1 white--text" color="grey">{{totalQuestion}}</v-chip>
                <v-spacer></v-spacer>
                Total Weightage
                <v-chip small class=" ml-1 white--text" color="grey">{{totalWeight}}</v-chip>
                <v-spacer></v-spacer>
                <v-btn @click="saveItem" color="success">Save</v-btn></v-row>
               
            </v-card-subtitle>
            <v-card-text v-show="hide">
                <v-window v-model="window" class="elevation-1" show-arrows>
                    <v-window-item v-for="(item,index) in formData.questions" :key="index">
                        <Question  :category="category"  :questionData="formData.questions[index]" @delQuestion="removeQuestion(index)" />
                    </v-window-item>
                </v-window>
            </v-card-text>
        </v-card>
    </v-app>   
</template>
<script>

import Question from '../../components/QuestionComponent';
import DeleteConfirmation from '../../components/DeleteConfirmation';
import QuestionDataService from '../../services/question';
import { mapActions, mapState } from 'vuex';
export default {
    components:{
        Question,
        DeleteConfirmation
    },
    computed:{
        ...mapState('survey',['surveys']),
        categories(){
            return this.formData.survey.category;
        },
        category(){
           let data = this.formData.survey.category.find(val=>
                
               val.id==this.formData.questions[this.window!=''?this.window:0].category_id
           );
           return data.name;     
        },
        requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
        },
        getCount(){
            return (id) =>this.formData.questions.filter(val=>
                
               val.category_id==id
           ).length;    
        },
         getWeight(){
            return (id) => this.formData.questions.filter(val=>
                
               val.category_id==id
           ).reduce((result,{weightage}) => result + Number(weightage), 0);
        },
        totalQuestion(){
            return this.formData.questions.length;
        },
        totalWeight(){
            return this.formData.questions.reduce((result,{weightage}) => result + Number(weightage), 0);
        }
    },
    data(){
        return {
            hide:true,
            window:'',
            totalWeightFix:true,
            formData:{
                survey: {},
                questions:[]
            },
            questionData:{
                question:'',
                weightage:'',
                category_id:'',
                survey_id:'',
                options:[{option:'',score:'0'},{option:'',score:'1'},{option:'',score:'2'},{option:'',score:'3'},{option:'',score:'4'}]
            },
        }
    },
    methods:{
       ...mapActions('survey',['getSurveys']),

        async saveItem(){
            if(this.totalWeight != 100){
                this.totalWeightFix=false;
                if (await this.$refs.confirm.open('Total Weight Issue', 'Total Weight is less than 100 .Are you sure to continue', { color: 'red' })) {
                    this.totalWeightFix=true;
                }
              
            }
            else{
                QuestionDataService.saveQuestion(this.formData).then(response=>{
                    if(response.success){
                        Vue.showNotification({content:'Question Added Successfully',color:'success'});
                    }
                    else{
                        Vue.showNotification({content:'Something Went Wrong',color:'error'});
                    }
                });
                this.hide=false;
            }
            
           
        },

        addQuestion(item){
            this.hide=true;
           // this.category = item.name;
            let newQuestionData = _.cloneDeep(this.questionData);
            newQuestionData.survey_id= this.formData.survey.id;
            newQuestionData.category_id= item.id;
            this.formData.questions.unshift(newQuestionData);
            
        },

        getQuestion(){
            this.formData.questions=[];
            this.formData.questions = this.formData.survey['question'].map(function(question){
                const container = {};
                container['question'] = question.question;
                container['weightage'] = question.weightage;
                container['category_id'] = question.category_id;
                container['survey_id'] = question.survey_id;
                container['options'] = JSON.parse(question['options']);
                return container;
            });
            
        },

       async  removeQuestion(index){
             if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
                    this.formData.questions.splice(index,1);
                    this.window = 0;
                    Vue.showNotification({content:'Question Deleted Successfully.Kindly Save The Changes',color:'success'});
                }
                else {
                      
                }
        }
       
    },
    created(){
        this.getSurveys();
    },
  
    
}
</script>