<template>
    <v-app id="inpire">
        <DeleteConfirmation ref="confirm"></DeleteConfirmation>
        <v-card flat class="mt-2 mb-2">
            <v-card-title>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
            ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="surveys"
                :search="search"
                :page.sync="page"
                hide-default-footer
                :loading="status"
                :items-per-page="itemsPerPage"
            >
            <template v-slot:item.category="{ item }">
                <div  v-if="item.category.length>0">
                    <v-chip class="ma-1"  v-for="category in item.category" :key="category.id">{{category.name}}</v-chip>
                </div>
            </template>   
               
                
                <template v-slot:item.action="{ item }">
                    <v-icon
                        small
                        color="blue"
                        class="mr-2"
                        @click="editSurvey(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        color="red"
                        class="mr-2"
                        @click="deleteSurvey(item.id)"
                    >
                        mdi-delete
                    </v-icon>
                   
                </template>
            </v-data-table>
            <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"   @input="onPageChange()"></v-pagination>
            </div>
            <v-btn color="green" class="ma-2 float-right white--text" @click="[editMode=false,dialog=true,form={}]">{{$t('new')}}<v-icon>mdi-plus</v-icon></v-btn>
        </v-card>
        <v-dialog v-model="dialog" max-width="500">
          <v-card>
            <v-card-title>
              <h4 v-show="!editMode">{{$t('new_survey')}}</h4>
              <h4 v-show="editMode">{{$t('update_survey')}}</h4>
            </v-card-title>
            <v-card-text>
              <v-form v-model="valid" ref="form">
                <v-container>
                  <v-text-field outlined v-model="form.name" :rules="requiredRules" :label="$t('name')"></v-text-field>
                  <v-textarea outlined v-model="form.description" :label="$t('description')"></v-textarea>
                  <v-text-field outlined v-model="form.timer" :label="$t('timer')"></v-text-field>
                  <v-subheader>Add Category<v-spacer></v-spacer><v-btn @click="addNewCategory" icon><v-icon>mdi-plus</v-icon></v-btn></v-subheader>
                    <v-row no-gutters>
                        <v-col cols="12" md="12" sm="12" v-for="(category,index) in categories" :key="index">
                             <v-text-field outlined :rules="requiredRules" v-model="category.name" :label="$t('name')"></v-text-field>
                             <v-spacer></v-spacer>
                             <v-btn icon color="red" @click="removeCategories(index)"><v-icon>mdi-delete</v-icon></v-btn> 
                        </v-col>
                       
                    </v-row>
                </v-container>  
              </v-form>  
            </v-card-text>
            <v-card-actions>
               <v-spacer></v-spacer>
              <v-btn color="primary" v-show="editMode" @click="updateSurvey()">{{$t('update_button')}}</v-btn>
              <v-btn color="primary" v-show="!editMode" @click="createSurvey()">{{$t('create_button')}}</v-btn>
              <v-btn color="primary" @click="dialog=false">{{$t('close_button')}}</v-btn>
            </v-card-actions>
          </v-card>  
        </v-dialog> 
       
   </v-app>
</template>

<script>
import {mapState,mapActions} from "vuex";
 import  DeleteConfirmation  from '../../components/DeleteConfirmation';
export default {
        components:{
            DeleteConfirmation
        },
        computed:{
            ...mapState('survey', ['surveys', 'page', 'itemsPerPage', 'pageCount','status']),
            
            page:{
                get:function(){
                    //return this.page;
                },
                set:function(val){
                    this.$store.commit('survey/SET_PAGE',val);
                }
            },

            requiredRules(){
                 return [
                    v => !!v || this.$t('field_is_required'),
                ]
            },

            unique_uuid(){

               return +Date.now();
            
            },

            headers(){
                return [
                  {text:this.$t('ID'),align:'left',value:'id'},
                  {text:this.$t('Name'),value:'name'},
                  {text:this.$t('Timer'),value:'timer'},
                  {text:this.$t('Description'),value:'description'},
                  {text:this.$t('Unique Uuid'),value:'unique_uuid'},
                  {text:this.$t('Category'),value:'category'},
                  {text:this.$t('Action'),value:'action',sortable:false}
                ]
            }
          
        },

        data(){
           
            return{
               editMode:false,
               search:'',
               dialog2:false,
               dialog:false,
               valid:false,  
               categories:[],
               users:[],
               selectedUser:[],
               form : {
                    id:'',
                    name: '',
                    description:'', 
                    timer:'' 
                },
               
            }
        },
        methods:{
        
            ...mapActions('survey',['getSurveys','addSurvey','modifySurvey','destroySurvey']),
         
            onPageChange(){
                this.loadSurveys();
            },

            async loadSurveys(){
                this.getSurveys();
            },
            
           

            addNewCategory(){
               
               this.categories.push({name:''});
            },

            removeCategories(index){

                this.categories.splice(index,1);

            },

            editSurvey(survey){
                this.form.name=survey.name;
                this.form.id=survey.id;
                this.form.description=survey.description;
                 this.form.timer=survey.timer;
                this.form['unique_uuid']=survey.unique_uuid;
                this.categories=_.cloneDeep(survey.category);
                this.editMode=true;
                this.dialog=true;
            },
           
            async createSurvey(){
                this.form['unique_uuid']=this.unique_uuid;
                this.form['categories']=this.categories;
                await this.addSurvey(this.form);
                this.dialog=false;
                if(this.status){
                   Vue.showNotification({content:'Survey Created Successfully',color:'success'});
                }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
               this.$store.commit('survey/SET_STATUS',false);
                
            },

            async updateSurvey() {   
               this.form['categories']=this.categories;      
               await this.modifySurvey(this.form);
               this.dialog=false;
               if(this.status){
                   Vue.showNotification({content:'Survey Updated Successfully',color:'success'});
               }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
               }
               this.$store.commit('survey/SET_STATUS',false);
            },

            async deleteSurvey(id){
                 if (await this.$refs.confirm.open('Delete', 'Are you sure?', { color: 'red' })) {
                    await this.destroySurvey(id);
                    if(this.status){
                        Vue.showNotification({content:'Survey Deleted Successfully',color:'success'});
                    }else{
                   Vue.showNotification({content:'Something Went Wrong',color:'error'});
                }
                
                }
                else {
                        // cancel
                }
            
                this.$store.commit('survey/SET_STATUS',false);
            },
            async addUser(id){
                await axios.get('/api/admin_user/'+id).then(response=>{
                    this.users=response.data.users;
                    this.selectedUser=response.data.survey_user;
                });
            }
        },
        created() {
          this.loadSurveys();  
        }
    }
</script>
