<template> 
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12" light>
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>{{$t('login')}} {{$t('form')}}</v-toolbar-title>
                
              </v-toolbar>
              <v-card-text>
                <v-overlay :value="indeterminate">
                    <v-progress-circular :indeterminate="indeterminate" color="success"></v-progress-circular>
                </v-overlay>  
              
                <v-form>
                  <ul  v-if="errors != null">
                    <li  v-if="errors.email" style="color:red">
                      {{ errors.email[0] }}
                    </li>
                  </ul>
                  <v-text-field
                    :label="$t('email')"
                    name="email"
                    v-model="email"
                    prepend-icon="mdi-account-circle"
                    type="text"
                    outlined 
                    @keydown="changeError"
                  >
                  </v-text-field>
                   
                  <ul  v-if="errors != null">
                    <li  v-if="errors.password" style="color:red">
                      {{ errors.password[0] }}
                    </li>
                  </ul>
                  
                  <v-text-field
                    id="password"
                    :label="$t('password')"
                    v-model="password"
                    name="password"
                    prepend-icon="mdi-lock"
                    :type="show1 ? 'text' : 'password'"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                     @click:append="show1 = !show1"
                     outlined
                    @keydown="changeError"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click='login()'>{{$t('login')}}</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>

    //import validationErrors from "../shared/mixins/validationErrors";
    import { logIn } from "../../utils/auth";
    import { getText }  from "../../utils/helper";
    import LoginService from "../../services/login";
    export default {
        computed:{
          role(){
            return this.$store.state.login.role;
          }
        },
        data() {
            return {
            email: null,
            password: null,
            loading: false,
            show1: false,
            indeterminate:false,
            errors:{}
           
            };
        },
        methods: {
             async login() {
                this.loading = true;
                this.errors = null;
                try {
                    this.indeterminate = true;
                    await axios.get("/sanctum/csrf-cookie");
                    await axios.post("/login", {
                      email: this.email,
                      password: this.password
                    }).catch((err)=>{
                       console.log(err);
                       if (err.response.status === 422) {
                          this.errors = err.response.data.errors;
                       }
                    
                    });
                    logIn();
                    if(this.errors == null){
                      await LoginService.getUser().then(response=>{
                        let name = response.data.user.roles[0].name;
                        localStorage.setItem('userRole',name)
                      });
                        this.$store.dispatch("login/loadUser");
                        this.indeterminate = false;
                        this.handlingRedirect();
                    }
                    else{
                      this.indeterminate = false;
                    }  
                } catch (error) {
                    this.errors = error.response && error.response.data.errors;
                }
                this.loading = false;
            },

            changeError(){
             
              this.errors = null;
            },
           
            handlingRedirect(){
               let rolek = localStorage.getItem('userRole');
               if(rolek=='super admin'){

                  window.location.href='/home'
               }else if(rolek=='admin') {
                    window.location.href='/admin/home';
               }
            }
        },
         beforeRouteEnter (to, from, next) {
           const isLoggedIn=localStorage.getItem("isLoggedIn");
            if (isLoggedIn=='true') {
                let arr = localStorage.getItem('userRole');
                  if(arr=='super admin'){
                     return next('home');
                  }
                  else if(arr=='admin'){
                     return next('admin/home');
                  }
                  
              }
             next();
        },
       
};
</script>

